<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>zookeeper-filter</filter-name>
        <filter-class>ru.ttk.hypergate.session.filter.ZookeeperSessionWebFilter</filter-class>

        <!-- Name of the distributed map that just storing your web session objects -->
        <init-param>
            <param-name>zookeeper-map-path</param-name>
            <param-value>/TTK_020</param-value>
        </init-param>

        <init-param>
            <param-name>zookeeper-host</param-name>
            <param-value>10.110.56.20:2181</param-value>
            <!--<param-value>localhost:2181</param-value>-->
        </init-param>

        <init-param>
            <param-name>sticky-session</param-name>
            <param-value>true</param-value>
        </init-param>

        <init-param>
            <param-name>cookie-domain</param-name>
            <!--<param-value>localhost</param-value>-->
            <param-value>kttk-jbt1app1.transtk.ru</param-value>
        </init-param>

    </filter>

    <filter-mapping>
        <filter-name>zookeeper-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <listener>
        <listener-class>ru.ttk.hypergate.session.filter.SessionListener</listener-class>
    </listener>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

</web-app>
